@tailwind base;
@tailwind components;
@tailwind utilities
;

body {
    margin : 0px;
    padding: 0px;
    height : 100vh;
    box-sizing: border-box;
}

.menu{
    @apply hidden z-50 absolute top-full left-0 w-screen translate-x-full transition-all duration-700 ease-in-out md:block md:translate-x-0 md:relative md:w-20 md:basis-48;
}

.menu_active{
    @apply  block translate-x-0 ;
}
.menu-items{
    @apply  bg-gray-100 opacity-100  text-black hover:text-white w-full h-10  uppercase font-semibold md:bg-transparent md:px-2;
}
.menu-href{
    @apply    w-full h-full flex justify-center items-center border-2 px-4 border-slate-600 hover:bg-purple-500 active:bg-purple-500 md:border-0 md:hover:bg-purple-600 md:rounded-xl;
}

.nav_bg{
    background-image: linear-gradient(to right bottom, #d16b6b, #dc6b7e, #e46d93, #e871ab, #e778c4, #e177d0, #d978dd, #cd7aeb, #c072ee, #b06bf2, #9e64f7, #5116f4);
}


.row{
    @apply leading-3 sm:leading-6 md:leading-8 flex-auto  h-10 min-h-fit w-full;
}
.label{
    @apply  w-1/6  h-0  text-white rounded-lg ;
}
.label > div{
    @apply  text-sm h-full px-1 flex items-center justify-center bg-gradient-to-tr to-slate-500 from-zinc-700 rounded-lg;
}
.input-field{
    @apply   flex rounded-xl relative ;
}
.input-box{
    @apply bg-white  py-1 px-4 h-12  w-full border-gray-500 shadow-md shadow-black rounded-xl text-sm  placeholder:text-sm ;
}
.errorMsg {
    @apply w-1/6;
}

.about-paragraph{
    @apply px-6 lg:px-8 text-[0.9rem] lg:text-lg;
}
.list-par {
    @apply px-6;
}